body {
	width: 100%;
}

#root {
	width: 100vw;
	margin: 0 auto;
	text-align: center;
	height: 100vh;
}

#nav-bar {
	margin: 0 auto;
	border: none;
	width: 100vw;
}

#search-bar {
	max-width: 1280px;
	margin: 0 auto;
	z-index: 9;
}

#main-content {
	margin: 0 auto;
	width: 100vw;
	min-height: 90vh;
}

.panel {
	height: 80vh;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

#nav-bar a {
	text-decoration: none;
	color: white;
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.instagram-post {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.video-container {
	display: flex;
	justify-content: center;
}

.instagram-post .video-container {
	cursor: pointer;
}

.instagram-post .expanded .enlarge-button {
	display: none;
}

.expanded {
	height: 90vh;
	width: 40vw;
}

.shrink {
	height: 240px;
	width: 360px;
}

@media (max-width: 375px) {
	.expanded {
		height: 80vh;
		width: 100vw;
	}
}

@media (min-width: 376px) and (max-width: 560px) {
	.expanded {
		height: 80vh;
		width: 100vw;
	}
}

@media (min-width: 561px) and (max-width: 690px) {
	.expanded {
		height: 80vh;
		width: 80vw;
	}
}

@media (min-width: 691px) and (max-width: 920px) {
	.expanded {
		height: 80vh;
		width: 60vw;
	}
}

@media (min-width: 921px) and (max-width: 1200px) {
	.expanded {
		height: 80vh;
		width: 40vw;
	}
}

@media (min-width: 1201px) {
	.expanded {
		height: 80vh;
		width: 32vw;
	}
}
